.product-card-wrapper{
  width: 1112px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin-left: 10px;
  margin-right: 10px;
}

.mat-card{
  background: #fff;
  color: #424242;
}

.example-card {
  max-width: 200px;
  margin-top: 20px;
}
